{% extends'base.html.twig' %}
{% block title %} Tournaments {% endblock %}

{% block body %}

    <h1>Tournament managment</h1>
        <p>request</p>
    <ul>
    {% for tournament in tournaments %}
        <li> {{ tournament.name }}</li>
    {% else %}
        <li>No tournaments available</li>
        {% endfor %}
    </ul>
{% endblock %}